.item.activated{
    background-color: #ffffff;
}
.item-select{
    display: inline-block;
    width: 60%;
    height: 38px;
    border: none;
    padding-left: 0;
    position: absolute;
    top: 10px;
}
.tips-content{
    width: 100%;
    padding: 10px 12px;
    background: #EEEFEF;
    color: #717071;
    font-size: 12px;
}
.user-info1{
    padding: 0 12px;
    margin: 0;
}
.user-info1 li{
    width: 100%;
    height: 53px;
    border-left: none;
    border-right: none;
    padding: 0;
    position: relative;
}
.user-info1 li:first-of-type{
    border-top: 1px solid #EEEFEF;
}
.user-info1 li .img-icon{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 19px;
}
.user-info1 li i{
    display: inline-block;
    font-size: 14px;
    width: 70px;
    height: 53px;
    line-height: 53px;
    margin-left: 25px;
}
.user-info1 li input{
    width: 60%;
    display: inline-block;
}
.user-info1 li select{
    width: 60%;
    height: 35px;
    border: 1px solid #ffffff;
    padding-left: 0;
    direction: ltr;
    left: 5px;
}
.user-info1 .telephone input{
    width: 35%;
    display: inline-block;
}
.user-info1 li .next-p{
    width: 9px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 19px;

}
.user-info1 li span{
    display: inline-block;
    height: 53px;
    line-height: 53px;
    position: absolute;
    right: 20px;
    top: 0;
    color: #000000;

}
.user-info1 li .no-setting{
    color: #717071;

}