.bar.bar-positive span:nth-of-type(2){
    width: 80px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 14px;
    border: 1px solid #ffffff;
}
.location-list .list .location-list1{
    position: relative;
}
.location-list-del{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    z-index:10;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.location-list-del img{
    width: 22px;
}
.location-list .item-radio .item-content{
    padding-left: 64px;
}
.location-list .ion-checkmark{
    left: 0;
}
.location-list .disable-pointer-events{
    background-image: url('../../../img/game_club/radio.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 14px 27px;
    color: #000000;
    font-size: 16px;
}
.location-list .disable-pointer-events p{
    color: #717071;
    font-size: 14px;
    white-space: normal;
}
.location-list .item-radio input:checked + .radio-content .item-content{
    background: #ffffff;
}
.location-list .ion-checkmark:before{
    background-image: url('../../../img/game_club/radio_checked.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    content: "";
    width: 22px;
    height: 22px;
    background-position: 0 13px;
    height: 32px;
}