.bar.bar-positive b{
    position: absolute;
    top: 12px;
    right: 12px;
}
.bar.bar-positive b img{
    width: 20px;
}
.child-page-bg1{
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 84px 5% 0 5%;
    background: url("../../../img/paySuccessBg.gif") repeat-y;
    background-size: 100% 43px;
}
.child-page-bg2{
    width: 100%;
    height: 248px;
    background: url("../../../img/up-bg.gif") no-repeat;
    background-size: 100% 248px;
    padding-top: 110px;
}

.child-page-bg2 p{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
}
.add-child{
    width: 100%;
    height: 46px;
   /* padding: 0 10px;*/
    position: absolute;
    bottom: 0px;
}
.add-child span{
    display: inline-block;
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background: #79CAE0;
    font-size: 18px;
    color: #ffffff;
    /*border-radius: 10px;*/
}

.every-child-info{
    width: 100%;
    /*background: linear-gradient(to right,#7BB0D7,#C2DD8B);*/
   /* padding-bottom: 4px;*/
}
.every-child-info:last-child{
    padding-bottom: 0;
}
.child-name-details{
    width: 100%;
    height: 85px;
    padding-left: 14px;
    background: #ffffff;
    border-bottom: 1px solid #D3D3D3;
}
.child-name{
    width: 100%;
    height: 85px;

    position: relative;
}
.child-name span:nth-of-type(1){
    display: inline-block;
    width: 60px;
    height: 85px;
    padding-top: 12px;
    margin-left: 22px;
    overflow: hidden;
}
.child-name span:nth-of-type(1) .child-avatar{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.child-sex{
    width: 31px;
    height: 17px;
    position: absolute;
    top: 55px;
    left: 60px;
}
.child-sex img{
    width: 31px;
}
.child-sex b{
    display: inline-block;
    width: 15px;
    height: 17px;
    line-height: 17px;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 15px;
}
.child-name span:nth-of-type(2){
    display: inline-block;
    width: 100px;
    height: 85px;
    font-size: 16px;
    color: #000000;
    line-height: 85px;
    margin-left: 22px;
    overflow: hidden;
}
.child-name .edit-child{
    width: 23px;
    position: absolute;
    top: 26px;
    right: 12px;
}
.user-grade1{
    width: 100%;
    height: 45px;
    padding: 0 8px;
    text-align: center;
    display: -webkit-flex;
    position: relative;
}
.user-grade1 .grade-sd{
    -webkit-flex: 1;
    border-right: 1px solid #D8D9D9;
}
.user-grade1 .grade-sd:last-of-type{
    border: none;
}
.single-rank-pic1{
    display: inline-block;
    width: 30px;
    height: 32px;
    position: absolute;
    left: 8px;
    top: 4px;
}
.single-rank-pic1 img{
    width: 30px;
    height: 32px;
}
.rank-desc1{
    display: inline-block;
    height: 39px;
    padding: 0 20px;
    text-align: center;
    /*overflow: hidden;*/
    /*position: relative;
    top: -10px;*/
}
.double-rank-pic1{
    display: inline-block;
    width: 30px;
    height: 32px;
    position: absolute;
    right: 8px;
    top: 4px;
}
.double-rank-pic1 img{
    width: 30px;
    height: 32px;
}
.rank-desc1 span{
    display: block;
    font-size: 14px;
}
.my-verify-card-child{
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    border-top: 1px solid #D8D9D9;
 }
.my-verify-card-child span:nth-of-type(1){
    display: inline-block;
    font-size: 16px;
    color: #717071;
    margin-right: 30px;
}
.my-verify-card-child span:nth-of-type(2){
    font-size: 16px;
    color: #000000;
}
.child-title{
    height: 27px;
    line-height: 27px;
    padding-left: 20px;
    background: linear-gradient(to right,#79CAE0,#ffffff);
    font-size: 16px;
    color: #ffffff;
}


















