.verify-identity-details{
    width: 100%;
    min-height: 100%;
    background: #F7F6F6;
    position: absolute;
}
.verify-it{
    width: 100%;
    height: 51px;
    background: #F7F6F6;
    border-bottom: 1px solid #E8E7E6;
    display: -webkit-flex;
}
.verify-it span{
    display: inline-block;
    width: 50%;
    height: 51px;
    font-size: 16px;
    text-align: center;
    line-height: 51px;
}
.verify-it .span2{
    color: #79CAE0;
}
.verify-im1{
    width: 100%;
    height: 109px;
    background: #ffffff;
    padding: 0 10px;
    border-bottom: 1px solid #E8E7E6;
}
.verify-im1 li{
    width:100%;
    height: 54px;
    border-bottom: 1px solid #E8E7E6;
}
.verify-im1 li:last-child{
    padding-top: 8px;
    border: none;
}
.verify-im1 li:nth-of-type(1){
    padding-top: 2px;
}
.verify-im1 li:nth-of-type(1) input{
    display: inline-block;
    font-size: 16px;
    width: 55%;
    height: 50px;
    margin-left: 10px;
    border-right: 1px solid #E8E7E6;
    overflow: hidden;
}
.verify-im1 li:nth-of-type(1) .get-code{
    display: inline-block;
    width: 36%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #79CAE0;
    text-align: center;
    padding: 0;
    background: #ffffff;
    border: none;
}
.verify-im1 li:nth-of-type(1) .get-code-again{
    display: inline-block;
    width: 36%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #727171;
    text-align: center;
}

.verify-im1 li:nth-of-type(2) input{
    width: 200px;
    height: 38px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
}
.verify-identity-details p{
    width: 100%;
    padding: 11px 12px 0;
    font-size: 16px;
    color: #727171;
}
.to-next-pg{
    width: 100%;
    height: 46px;
    padding: 0 12px;
    position: absolute;
    bottom: 10px;
}
.to-next-pg span{
    display: inline-block;
    width: 100%;
    height: 46px;
    background: #79CAE0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 46px;
}




















