.change-mobile{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #E2E1E0;
    position: relative;
}
.change-mobile span{
    display: inline-block;
    height: 56px;
    line-height: 56px;
    margin-left: 14px;
    font-size: 16px;
    color: #000000;
}
.change-mobile img{
    width: 12px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 12px;
}