.service-problems1{
    width: 100%;
    padding: 10px 10px 30px;

}
.service-problems1 h3{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.service-problems1 p{
    font-size: 14px;
    text-indent: 28px;
}
.service-problems1 p:last-of-type{
    text-indent: 0;
}
.service-problems1 img{
    width: 100%;
}

/*
.service-problems1 li{
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 52px;
    padding-left: 20px;
    border-bottom: 1px solid #E7E6E5;
}
.rank-intro{
    width: 100%;
    padding: 20px 12px 30px;
}
.rank-intro p{
    font-size: 14px;
    text-indent: 28px;
}
.rank-intro img{
    width: 100%;
}
.rank-intro h3{
    font-size: 16px;
    font-weight: 900;
}*/
