<ion-view ng-controller="addNewPartnerCtrl">
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span ng-show="projectCategory == 2">添加搭档</span>
        <span ng-show="projectCategory == 3">添加队员</span>
    </ion-header-bar>
    <ion-content>
        <div class="no-partner">
            <div class="no-partner-title">
                <span>
                  <img src="img/home/partner-title-bg.png"/>
                </span>
                <span>
                   <img ng-show="projectCategory == 2" class="img-new-partner" src="img/home/add_new_partner.png"/>
                   <img ng-show="projectCategory == 3" class="img-new-partner" src="img/home/add_new_partner.png"/>
                </span>

            </div>
            <div ng-show="projectCategory == 2"  class="weChat-invited" ng-click="invite(orderId)">微信邀请搭档（推荐）</div>
            <div ng-show="projectCategory == 3" class="weChat-invited" ng-click="invite(orderId)">微信邀请队员（推荐）</div>
            <!--<div class="manually-add" ng-click="editPartner()" ng-show="projectCategory == 3">
                <span>手动添加队员</span>
                <span>*手动添加的队员无法获得积分、现场随手礼等奖励*</span>
            </div>
            <div class="manually-add" ng-click="editPartner()" ng-show="projectCategory == 2">
                <span>手动添加搭档</span>
                <span>*手动添加的搭档无法获得积分、现场随手礼等奖励*</span>
            </div>-->
            <div style="width: 100%;text-align: center">
                <img style="display:inline-block;width:200px;height: 200px;" ng-src="{{qrCode}}">
                <span style="display: inline-block;width: 100%;padding:0 20px;font-size: 16px;">若分享链接无法进入，请长按上方二维码并发送给朋友，邀请好友加入队伍</span>
            </div>
        </div>
    </ion-content>
    <div class="share-g" ng-show="shareShow" ng-click="shareMiss()">
        <img src="img/pic-share.png"/>
        <p ng-show="projectCategory == 2">快点这里邀请搭档吧！</p>
        <p ng-show="projectCategory == 3">快点这里邀请队员吧！</p>
    </div>
</ion-view>