<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span>羽众免责声明</span>
        <a href="{{homeUrl}}"><img src="img/btn-home.gif"/></a>
    </ion-header-bar>
    <ion-content>
        <div class="disclaimer">
            <h3>免责声明</h3>
            <p>尊敬的用户：</p>
            <p>在使用羽众微信公众号（以下简称“本平台”）一应服务前，请您务必仔细阅读并透彻理解本声明，如果选择使用，将被视为您对本声明全部内容的认可。</p>
            <p>1、	对于因网络状况、通讯线路、帐号异常等原因，或因意外、侵权、个人疏忽（包括感染病毒）而造成的个人损失，本平台不承担任何法律责任。</p>
            <p>2、	用户应审慎对待非本平台官方帐号所发布的一应内容，包括但不限于比赛、活动、文章、资讯及第三方链接等，并自行承担因参与非官方活动所导致的一应后果。</p>
            <p>3、	任何单位和个人如认为在本平台上发布的内容涉嫌侵权，应及时向本平台提出书面权利通知及相关证明。本平台在收到上述法律文件后，将会依法尽快删除。</p>
            <p>4、	本平台允许用户依法发布信息和个人观点，但不代表本平台赞成其所发布的内容或立场。</p>
            <p>5、	用户应对自己在本平台上所发布信息的真实性、完整性、有效性负完全责任，包括因未及时修改、删除所发布信息带来的一应后果。</p>
            <p>6、	本平台如因系统维护或升级而需暂停服务时，将事先公告。若因线路及非本平台所能控制范围的硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本平台不负任何责任。</p>
        </div>
    </ion-content>
</ion-view>