<ion-view ng-controller="groupDetailsV2Ctrl">
    <ion-header-bar align-title="center" class="bar-positive">
        <a href="{{homeUrl}}" style="width: 30px;position: absolute;top: 11px;left: 11px;">
            <img style="width: 12px" src="img/back.gif"/>
        </a>
        <span>比赛详情</span>
        <a href="{{homeUrl}}"><img src="img/btn-home.gif"/></a>
    </ion-header-bar>
    <ion-content>
        <div class="game-details-poster" ng-if="competitions">
            <img src="{{competitions.banner}}"/>
        </div>
        <!--<a class="to_home" href="{{homeUrl}}"><img src="img/btn-home.gif"/></a>-->
        <div class="game-details-title" ng-if="competitions">
            <h3>{{competitions.name}}</h3>
            <div class="kong"></div>
            <div class="game-details-tabs">
                <div class="game-details-tab" ng-repeat="tabName in tabNames" ng-click="activeSlide($index)" ng-class="slectIndex==$index ? 'tab-select' : '' ">
                    <span>{{tabName}}</span>
                </div>
            </div>
        </div>
        <ul ng-if="competitions">
            <li>
                <div ng-include="pages[slectIndex]"></div>
            </li>
        </ul>
    </ion-content>

</ion-view>