<ion-view ng-controller="manuallyapCtrl">
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span>填写搭档信息</span>
        <a href="{{homeUrl}}"><img src="img/btn-home.gif"/></a>
    </ion-header-bar>
    <ion-content>
        <ul class="list user-info">
            <li class="item item-icon-left name">
                <img src="img/home/name.png"/>
                <i>姓名</i>
                <input type="text" placeholder="请输入真实姓名" ng-model = 'members.realname'>
            </li>
            <li class="item item-icon-left sex">
                <img src="img/home/sex.png"/>
                <i>性别</i>
                <select ng-model="selectSex.sex" ng-options="sex.text for sex in sexs" ng-change = changeSex()>
                </select>
            </li>
        </ul>
        <div class="list verify-card">
            <div class="item item-icon-left code-type">
                <img src="img/home/code_type.png"/>
                <i>证件类型</i>
                <select ng-model="selectCode.code" ng-options="code.TypeName for code in codes" ng-change = changeCode()>
                </select>
                <input type="file" id="fileElem" multiple style="display:none" onchange="angular.element(this).scope().handleFiles(this.files)">
                <div id="fileSelect" class="card-front">
                    <div>
                        <img id="img" src="img/front-card.png"/>
                        <p>上传证件正面照片</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list verify-card">
            <div class="item item-icon-left card-number">
                <img src="img/home/code_number.png"/>
                <i>证件号码</i>
                <input type="text" ng-model="userCredentialInfo.number" placeholder="请如实填写证件信息">
            </div>
        </div>
        <ul class="list user-info">
            <li class="item item-icon-left telephone">
                <img src="img/home/telephone.png"/>
                <i>联系电话</i>
                <input type="text" placeholder="请输入手机号码" ng-model = 'members.mobile'>
            </li>
        </ul>

        <div class="child-reg">
            <span>微信邀请搭档（推荐）</span>
        </div>
    </ion-content>
    <div class="next-page-btn" ng-click="toRegNext(competitionId,needPhotoNumber,members.mobile)">完成</div>
</ion-view>