<ion-view ng-controller="interpretationCtrl">
    <ion-content>
        <div class="service-problems1">
            <h3>～什么是羽众级别～</h3>
            <p>（1）羽众一级级别：风、林、火、山四个级别。其中风级为最低级，依次增高，山级为最高级。</p>
            <p>（2）羽众二级级别：丙、乙、甲三个级别。其中丙级为最低级别，依次增高，甲级为最高级别。</p>
            <p>（3）羽众级别中，单打与双打分开定级。</p>
            <img src="img/rank1.png">
        </div>
        <div class="kl_4"></div>
        <div class="service-problems1">
            <h3>～羽众级别的设定与变更～</h3>
            <p>（1）等级设定：球友自主定级或第一次参与风林火山分级赛所报名的级别，将被设定为初始级别。初始级别为羽众一级级别的丙级。</p>
            <p>（2）等级修改：级别初次设定后，第二次参加羽众分级赛前，共有三次修改级别机会（修改后依然保留增量积分）。</p>
            <p>（3）自动升级：级别确定后，球员参加相应级别的羽众赛事并根据参赛成绩所获得的积分称为增量积分，积分到达升级标准后进行升级。</p>
            <p>（4）自动降级：球员所获得的单次增量积分有效期为一年，期满后从其个人总积分中滚动扣除，由此进行降甲乙丙等级。降级最多减少到该球员所处风林火山级别的丙级的初始积分时。且每年在级别的后10%用户可自主选择降风林火山级别。排名以每年6月20日0点0分和12月20日0点0分，羽众平台的排名数据为准。修改权限在6月21日-30日和12月21日-31日放开，若放弃操作系统将延续保留球员原级别和对应积分</p>
        </div>
        <div class="kl_4"></div>
        <div class="service-problems1">
            <h3>～参赛原则～</h3>
            <p>羽众一级级别不相同的球员组合参加羽众分级赛，须按照“就高不就低”的原则，选择参加组合当中最高级别球员的对应级别赛事。<i>（示例：某林乙级和某火丙级球员组合参加羽众分级赛的双打项目，则只能选择参加火级双打项目，而不能选择参加林级双打项目。）</i></i></p>
        </div>
        <div class="kl_4"></div>
        <div class="service-problems1">
           <h3>～羽众赛事～</h3>
            <p>（1）羽众分级赛：分为“羽众分级赛总决赛”和“羽众分级赛分站赛”。</p>
            <p>（2）羽众混合赛： </p>
            <img src="img/rank5.png">
        </div>
        <div class="kl_4"></div>
        <div class="service-problems1">
            <h3>～比赛积分对照表～</h3>
            <img src="img/rank6.png">
            <img src="img/rank7.png">
            <p>注：解释权由甜区体育文化有限公司所有。</p>
        </div>
    </ion-content>
</ion-view>