<ion-view ng-controller="loginPasswordCtrl">
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span>修改登录密码</span>
        <a href="{{myUrl}}"><img src="img/btn-home.gif"/></a>
    </ion-header-bar>
    <ion-content>
        <div class="verify-identity-details">
            <div class="verify-it">
                <span>1.验证身份</span>
                <span class="span2">2.修改手机号</span>
            </div>
            <ul class="verify-im1">
                <li>
                    <input type="number" ng-model="myCode.mobile" placeholder="请输入手机号码">
                    <button class="get-code" ng-click="getCode()" ng-show="codeShow">获取验证码</button>
                    <span class="get-code-again" ng-show="codeAgainShow">{{second}}秒后再次获取</span>
                </li>
                <li>
                    <input type="text" ng-model="myCode.code" placeholder="请输入验证码">
                </li>
            </ul>
            <p>若该手机无法审核，请拨打18001397216，申诉更改验证手机。</p>
        </div>


    </ion-content>
    <div class="to-next-pg" ng-click="completeVerifty()">
        <span>完成</span>
    </div>
</ion-view>