<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="closeModal()">
            <img src="img/back.gif"/>
        </div>
        <span>羽众积分计算方法</span>
    </ion-header-bar>
    <ion-content>
        <div class="rank-intro">
            <p>1、定义：羽众积分指拥有羽众级别的球员，通过参加羽众赛事的方式，按照一定规则获得的、可动态反映个人技战术水平、参赛频次和级别变化的分数。以下均简称为“积分”。</p>
            <p>2、羽众积分中的起始积分和增量积分</p>
            <p>（1）关于起始积分：球员在获得羽众认证级别的同时，可按《羽众级别及积分对照表》获得该级别对应的起始积分。</p>
            <p>（2）关于增量积分：球员参加羽众赛事并根据参赛成绩所获得的积分称为增量积分。球员所获得的单次增量积分有效期为一年(计算方法为从登记获得之日晚24点起，到次年同月同日的0点0分止)，期满后从其个人总积分中扣除。</p>
            <p>（3）个人总积分：球员的起始积分和增量积分共同组成个人总积分，并按照《羽众级别及积分对照表》实现个人级别的升降；增量积分期满滚动扣除时，个人总积分也相应减少，但最多减少到该球员所处羽众一级级别的丙级的初始积分。</p>
            <p>3、比赛积分对照表具体</p>
            <p>（初始级别积分数据省略）</p>
            <img src="img/rank6.png"/>
            <img src="img/rank7.png"/>
        </div>
    </ion-content>
</ion-modal-view>