<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="closeModal()">
            <img src="img/back.gif"/>
        </div>
        <span>参赛原则</span>
    </ion-header-bar>
    <ion-content>
        <div class="rank-intro">
            <p>（1）羽众一级级别不相同的球员组合参加羽众分级赛，须按照“就高不就低”的原则，选择参加组合当中最高级别球员的对应级别赛事。</p>
            <p>（2）《比赛积分对照表》反映的是特定类型比赛、特定名次的基准积分。所有球员参加比赛时，个人出场率在60%及以上的，可获得全部基准积分；出场率为0则只能获得30%的基准积分；个人出场率大于0小于60%的则获得60%的基准积分。计算后得到的积分均按“四舍五入”的方法计入个人积分。</p>
        </div>
    </ion-content>
</ion-modal-view>