<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="closeModal()">
            <img src="img/back.gif"/>
        </div>
        <span>羽众赛事级别</span>
    </ion-header-bar>
    <ion-content>
        <div class="rank-intro">
            <h3>1、定义</h3>
            <p>羽众赛事指由羽众平台承担组织、赞助、合作等职能的业余羽毛球赛事，分为羽众定级赛、羽众分级赛和羽众混合赛三大类别。</p>
            <p>（1）羽众定级赛：特指由羽众平台设计组织，目的在于确定参与人员羽众级别，并将其建议级别转变为认证级别的比赛。</p>
            <p>（2）羽众分级赛：特指由羽众平台主办或合作，并按照风、林、火、山四大级别分别招募球员参加的比赛，具体分为“羽众分级赛总决赛”和“羽众分级赛分站赛”两大类别。</p>
            <p>（3）羽众混合赛：特指羽众分级赛以外，由羽众平台给予具体级别定义、形式固定为“羽众混合赛X级”的赛事。赛事级别定义的主要依据为赛事的选手来源、人数规模和选手总体技术水平，并以羽众平台的官方判定为准。</p>
            <p>羽众混合赛固定划分为五大级别，具体如下表。</p>
            <img src="img/rank5.png"/>
        </div>
    </ion-content>
</ion-modal-view>