<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="closeModal()">
            <img src="img/back.gif"/>
        </div>
        <span>羽众级别中的一级级别和二级级别</span>
    </ion-header-bar>
    <ion-content>
        <div class="rank-intro">
            <p>每一位球员的羽众级别，按双打（含混双、双打）和单打两个项目分别设定，均由羽众一级级别和二级级别共同构成。</p>
            <p>羽众一级：风、林、火、山四个级别，依次增高。风级最低，山级最高。</p>
            <p>羽众二级：丙、乙、甲三个级别，依次增高。丙级最低，甲级最高。</p>
            <p>羽众一级与二级共同组合成从“风丙级”到“山甲级”的总共12个细分级别。</p>
        </div>
    </ion-content>
</ion-modal-view>