<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span>循环淘汰赛制</span>
    </ion-header-bar>
    <ion-content>
        <div class="format-bg">
            <div class="format-content">
                <p>比赛第一阶段为分组循环赛，第二阶段为淘汰赛，淘汰赛阶段可选择每组前1名或前2名晋级。</p>
                <p>当每组前2名晋级时，小组第一名位置固定，第二名位置随机分配。</p>
                <p>当每组晋级1名时，无下图第二名所留位置。</p>
            </div>
            <div class="format-title">
                当晋级数量为4、8、16等规则数量时
            </div>
            <div class="format-desc">
                <p>例：晋级数量为8</p>
                <div class="format-desc-bg1"></div>
            </div>
            <div class="format-title">
                当晋级数量为不规则数量时
            </div>
            <div class="format-desc">
                <p>例：晋级数量为12</p>
                <div class="format-desc-bg2"></div>
            </div>
        </div>
    </ion-content>
</ion-view>