<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <div on-tap="goBack()">
            <img src="img/back.gif"/>
        </div>
        <span>单淘汰赛制</span>
    </ion-header-bar>
    <ion-content>
        <div class="format-bg">
            <div class="format-content">
                <p>根据抽签结果，两两进行比赛，每轮比赛后都淘汰1/2的运动员（对、队）。可是比赛场数相对减少。适合在时间短、场地少的情况下进行。</p>
            </div>
            <div class="format-title">
                当晋级数量为4、8、16等规则数量时
            </div>
            <div class="format-desc">
                <p>例：晋级数量为8</p>
                <div class="format-desc-bg1"></div>
            </div>
            <div class="format-title">
                当晋级数量为不规则数量时
            </div>
            <div class="format-desc">
                <p>例：晋级数量为12</p>
                <div class="format-desc-bg2"></div>
            </div>
        </div>

    </ion-content>
</ion-view>