.bar.bar-positive i{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
    height: 34px;
    border: none;
}
.save{
    display: inline-block;
    font-weight: 500;
    width: 60px;
    height: 26px;
    position: absolute;
    top: 9px;
    right: 15px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 26px;
}
.change-content{
    width: 100%;
    padding: 20px 16px 0;
}
.change-content input{
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #79CAE0;
}
.change-content p{
    margin-top: 10px;
    font-size: 14px;
    color: #727171;
}
.cui-btn{
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 19px;
    color: #ffffff;
    background: #79CAE0;
    position: absolute;
    bottom: 0;
 }

.group-infomation-c{
    width: 100%;
}
.group-infomation-c .list{
    margin-bottom: 0;
}
.group-infomation-c .list li:first-of-type{
    border-top: none;
}
.group-infomation-c .list .item{
    padding: 0;
    padding-left: 20px;
    font-size: 14px;
}
.group-infomation-c .list .group-name{
    border-left: 0;
    border-right: 0;
    height:50px;
    min-height: 38px;
    line-height: 50px;
}
.group-infomation-c .list .group-name img{
    width: 12px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 0;
}
.group-infomation-c .list .item span{
    display: inline-block;
    color: #727171;
    width: 70px;
    font-size: 16px;
}
.group-infomation-c .list .item span:nth-of-type(2){
    color: #000000;
}
.group-infomation-c .list .item span:nth-of-type(3){
    font-size: 12px;
    color: #79CAE0;
    width: 80px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #79CAE0;
    border-radius: 3px;
    position: absolute;
    top: 11px;
    right: 0;
}
.group-infomation-c .list .item input{
    display: inline;
    width: 70%;
    border: none;
}
.group-infomation-c .list .leader-name{
    border-left: 0;
    border-right: 0;
    height:50px;
    min-height: 38px;
    line-height: 50px;
}
.group-infomation-c .list .leader-name img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 18px;
    left: 0;
}
.group-infomation-c .list .leader-tel{
    border-left: 0;
    border-right: 0;
    height:50px;
    min-height: 38px;
    line-height: 50px;
}
.group-infomation-c .list .leader-tel img{
    width: 15px;
    height: 16px;
    position: absolute;
    top: 18px;
    left: 0;
}
.group-infomation-c .list .leader-tel .send-code{
    width: 100px;
    height: 27px;
    border: 1px solid #79CAE0;
    border-radius: 5px;
    font-size: 14px;
    color: #79CAE0;
    text-align: center;
    line-height: 27px;
    position: absolute;
    top: 12px;
    right: 0;
    background: #ffffff;
}
.group-infomation-c .list .leader-tel .send-code-click{
    background: #B5B5B6;
    width: 110px;
    height: 27px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 27px;
    position: absolute;
    top: 12px;
    right: 0;
    border: 0;
}
.group-infomation-c .list .leader-tel .send-code span{
    width: 18px;
}
.group-infomation-c .list .leader-tel .send-code-click span{
    width: 18px;
}
