<ion-tabs class="tabs-icon-top tool-bar" ng-class="{'tabs-item-hide': hideTabs}" >

    <ion-tab title="首页" icon-on="bar-home-on" icon-off="bar-home-off" href="#/tab/home_v2">
        <ion-nav-view name="tab-home_v2">

        </ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="商城" ng-click="goShop()" icon-on="bar-shop-on" icon-off="bar-shop-off" href="#/tab/shop">
        <ion-nav-view name="tab-shop">

        </ion-nav-view>

    </ion-tab>-->

    <!--<ion-tab title="发布"  icon-on="bar-release-on" icon-off="bar-release-off" href="#/tab/release">
        <ion-nav-view name="tab-release">

        </ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" ng-click="goFind()" icon-on="bar-find-on" icon-off="bar-find-off" href="#/tab/find">
        <ion-nav-view name="tab-find">

        </ion-nav-view>
    </ion-tab>-->

    <ion-tab title="我的" icon-on="bar-my-on" icon-off="bar-my-off" href="#/tab/my">
        <ion-nav-view name="tab-my">

        </ion-nav-view>
    </ion-tab>

</ion-tabs>
